{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block head_title %}{% endblock %}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/dashboard/">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/sidebar.css" %}">
    <!-- Custom styles for this template -->
      {% block extra_head %}
      {% endblock %}
  </head>
<body>

        {% block body %}
        {% include "bootstrap4/navbar.html" %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-fluid">
                    {% include "bootstrap4/sidebar.html" %}
                </div>
                <div class="col p-5">
                    {% block content %}
                    {% endblock %}
                    {% endblock %}
                    {% block extra_body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    {% include "bootstrap4/scripts.html" %}
    {% block extra_scripts %}
    {% endblock %}
</body>
</html>